/* CSS declarations go here */
body {
	background-color: #E844CD;
	background-image: -webkit-radial-gradient(farthest-corner, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.95)); 
  background-image: radial-gradient(farthest-corner, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.95));
}

.ui.page.grid {
	padding-top: 5rem;
}

.column {
	width: 100%;
}

.introduction {
position: relative;
clear: both;
display: block;
text-align: center;
}

.header {
	color: #23A5DB;
}

h1.header {
	font-size: 50px;
	font-weight: normal;
	color: #23A5DB;
}